/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
  background: #C4C4C4;
}

#black {
  cursor: url('black.cur'), auto;
}

#blue3 {
  cursor: url('blue3.cur'), auto;
}

#blue4 {
  cursor: url('blue4.cur'), auto;
}

#gray {
  cursor: url('gray.cur'), auto;
}

#green {
  cursor: url('green.cur'), auto;
}

#purple {
  cursor: url('purple.cur'), auto;
}

#purple {
  cursor: url('purple.cur'), auto;
}

#red {
  cursor: url('red.cur'), auto;
}

#white {
  cursor: url('white.cur'), auto;
}

#yellow4 {
  cursor: url('yellow4.cur'), auto;
}

#yellow6 {
  cursor: url('yellow6.cur'), auto;
}

#single-bond {
  cursor: url('singlebond.cur'), auto;
}

#upgrade-bond {
  cursor: url('upgradebond.cur'), auto;
}

#rotate {
  cursor: url('rotate.cur'), auto;
}

canvas {
  display: block;
}

#toolbar {
  overflow: hidden;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.piece {
  width: 25px;
}

.button {
  border-radius: 10px;
  background: red;
  padding: 1% 0;
}
